.u-section-1 .u-sheet-1 {
  min-height: 1029px;
}

.u-section-1 .u-group-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 96px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 6px;
  padding-right: 6px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 17px 37px 0 auto;
}

.u-section-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: -60px auto 0 9px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -43px 183px 0 auto;
}

.u-section-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: -46px 141px 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -46px auto 0 323px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: -28px auto 0 410px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -28px auto 0 178px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -28px auto 0 94px;
}

.u-section-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: -45px auto 0 266px;
}

.u-section-1 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -64px auto 0 351px;
}

.u-section-1 .u-icon-6 {
  width: 64px;
  height: 64px;
  margin: -66px auto 0 448px;
}

.u-section-1 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -62px auto 0 131px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -48px 532px 0 auto;
}

.u-section-1 .u-icon-8 {
  width: 64px;
  height: 64px;
  margin: -46px 487px 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -46px 328px 0 auto;
}

.u-section-1 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: -44px 287px 0 auto;
}

.u-section-1 .u-list-1 {
  width: 500px;
  margin: 7px 21px 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 436px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 1px;
}

.u-section-1 .u-icon-10 {
  width: 125px;
  height: 125px;
  margin: 0 auto 0 9px;
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.5rem;
  margin: -56px 0 0 123px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px 1px;
}

.u-section-1 .u-icon-11 {
  width: 125px;
  height: 125px;
  margin: 0 auto 0 9px;
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: -56px 0 0 123px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 1px;
}

.u-section-1 .u-icon-12 {
  width: 125px;
  height: 125px;
  margin: 0 auto 0 9px;
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: -56px 0 0 123px;
}

.u-section-1 .u-text-11 {
  font-size: 2.25rem;
  font-weight: 700;
  font-style: italic;
  margin: -348px 691px 0 64px;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  margin: 34px 570px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 2.25rem;
  font-style: italic;
  font-weight: 700;
  margin: -9px 115px 0 640px;
}

.u-section-1 .u-text-14 {
  font-size: 2.25rem;
  font-weight: 700;
  font-style: italic;
  margin: 113px 76px 0 679px;
}

.u-section-1 .u-icon-13 {
  width: 130px;
  height: 130px;
  margin: -194px auto 0 649px;
  padding: 0;
}

.u-section-1 .u-icon-14 {
  width: 161px;
  height: 161px;
  margin: -42px auto 0 547px;
  padding: 0;
}

.u-section-1 .u-icon-15 {
  width: 166px;
  height: 166px;
  margin: -260px auto 0 731px;
  padding: 0;
}

.u-section-1 .u-icon-16 {
  width: 219px;
  height: 219px;
  margin: -89px auto 60px 76px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 266px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 337px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 289px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 369px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 438px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: 401px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 270px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 555px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-top: 184px;
    margin-right: 15px;
    margin-left: 540px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 555px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 535px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 451px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 603px;
  }

  .u-section-1 .u-icon-16 {
    margin-bottom: -70px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-left: 203px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 257px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 203px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 220px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 281px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 334px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: 306px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 206px;
  }

  .u-section-1 .u-icon-9 {
    margin-right: 219px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 335px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 350px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 335px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 335px;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 410px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 345px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 462px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 136px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 151px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 192px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 133px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 151px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 164px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 210px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 249px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: 228px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 154px;
  }

  .u-section-1 .u-icon-9 {
    margin-right: 163px;
  }

  .u-section-1 .u-list-1 {
    margin-top: -115px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1rem;
    margin-top: -305px;
    margin-right: 155px;
  }

  .u-section-1 .u-text-12 {
    font-size: 1rem;
    margin-right: 170px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
    margin-top: -9px;
    margin-left: 155px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
    margin-left: 155px;
  }

  .u-section-1 .u-icon-13 {
    margin-top: -240px;
    margin-left: 308px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 259px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 347px;
  }

  .u-section-1 .u-icon-16 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 84px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 88px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 119px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 83px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: 94px;
  }

  .u-section-1 .u-icon-5 {
    margin-left: 102px;
  }

  .u-section-1 .u-icon-6 {
    margin-left: 130px;
  }

  .u-section-1 .u-icon-7 {
    margin-left: 81px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 155px;
  }

  .u-section-1 .u-icon-8 {
    margin-right: 142px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 96px;
  }

  .u-section-1 .u-icon-9 {
    margin-right: 101px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -65px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: -9px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: -9px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: -9px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: -355px;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-icon-13 {
    margin-left: 194px;
  }

  .u-section-1 .u-icon-14 {
    margin-left: 163px;
  }

  .u-section-1 .u-icon-15 {
    margin-left: 218px;
  }
}